.CategoriesWrapper {
  width: 1000px;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #3f72af;
  padding: 20px 16px 0 16px;
}
.CategoriesWrapper:first-child {
  margin-top: -10px;
}
.CategoriesWrapper:hover {
  background: rgba(37, 127, 234, 0.2);
}

.CategoryWrapper__Info__Name {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.CategoryWrapper__Info__Name a {
  text-decoration: none;
}
.CategoryWrapper__Info__Name-name {
  color: black;
  font-weight: 700;
  margin-right: 16px;
}
.CategoryWrapper__Info__Name-folder {
  color: #3f72af;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CategoryWrapper__Info__Name-folder img {
  margin-right: 5px;
}
.CategoryWrapper__Info__Description {
  color: #808080;
}
.CategoryWrapper__Actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.CategoryWrapper__Actions button {
  border: none;
  background: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.CategoryWrapper__Actions button:first-child {
  margin-right: 10px;
}
