.EntityModal-Wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.3);
}
.EntityModal {
  width: 800px;
  position: absolute;
  background-color: #dbe2ef;
  display: flex;
  flex-direction: column;
  padding: 24px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: #3f72af;
}
.EntityModal button {
  color: #3f72af;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.EntityModal input {
  color: black;
  background-color: transparent;
  border: 2px solid #3f72af;
  border-radius: 4px;
  font-size: 20px;
  min-height: 46px;
  padding-left: 8px;
  outline: none;
}
.EntityModal input:focus {
  border: solid 2px #257fea;
}
.EntityModal input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}
.EntityModal-InputsArticle {
  background-color: #dbe2ef;
  padding: 0 4px;
  position: absolute;
  top: -7px;
  left: 15px;
  font-weight: 400;
}
.EntityModal__Article {
  display: flex;
  justify-content: space-between;
}
.EntityModal__Article-Name {
  color: #3f72af;
  font-size: 40px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 50px;
}
.EntityModal__Article-Close {
  margin-bottom: 50px;
  font-size: 30px;
}

.EntityModal__Main {
  display: flex;
  justify-content: space-between;
  background-color: none;
  margin-bottom: 35px;
}

.EntityModal__Main-Name-small {
  margin-bottom: 35px;
}
.EntityModal__Main-Name-small input {
  width: calc(100% - 12px);
}
.EntityModal__Main-Name__article {
  display: flex;
  position: relative;
}
.EntityModal__Main-Categorie select {
  display: flex;
  background-color: transparent;
  border: none;
  color: black;
  background-color: transparent;
  border: 2px solid #3f72af;
  border-radius: 4px;
  font-size: 20px;
  min-height: 46px;
  padding-left: 8px;
  outline: none;
  right: 26px;
  width: calc(100%);
  height: 52px;
}
.EntityModal__Main-Categorie select:hover {
  border: 2px solid #257fea;
}
.EntityModal__Main-Categorie select:focus {
  border: 2px solid #257fea;
}

.EntityModal__Main-Categorie select option {
  color: black;
  border: 2px solid #257fea;
  height: 50px;
}
.EntityModal__Main-Categorie option:hover {
  box-shadow: 0 0 10px 100px red;
}
.EntityModal__Main-Categorie select option:checked {
  background-color: #3f72af;
  color: white;
}

.EntityModal__Main-Categorie__article {
  position: relative;
}
.DoubleInput {
  width: calc(50% - 12px);
}
.DoubleInput:first-child {
  margin-right: 24px;
}
.DoubleInput input {
  display: block;
  width: calc(100% - 12px);
}
.EntityModal__Main-Description {
  margin-bottom: 16px;
  text-align: left;
  position: relative;
}
.EntityModal__Main-Description-small {
  margin-bottom: 32px;
}
.EntityModal__Main-Description textarea {
  width: 100%;
  min-height: 72px;
  resize: none;
  box-sizing: border-box;
  padding: 12px 8px;
  color: black;
  background-color: transparent;
  border: 2px solid #3f72af;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 400;
  outline: none;
  font-family: Roboto;
}
.EntityModal__Main-Description textarea:focus {
  border: solid 2px #257fea;
}
.EntityModal__Main-Description textarea::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

.EntityModal__buttons {
  display: flex;
  justify-content: flex-end;
}
.EntityModal__buttons button {
  display: flex;
  justify-content: flex-end;
  height: 46px;
  border-radius: 4px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.EntityModal__buttons-create button {
  width: 200px;
  background-color: #3f72af;
  color: white;
  margin-right: 24px;
}
.EntityModal__buttons-create button:hover {
  background-color: #257fea;
}
.EntityModal__buttons-create button:active {
  background-color: #65abff;
}
.EntityModal__buttons-close button {
  background-color: transparent;
  border: 2px solid #3f72af;
  color: #3f72af;
  width: 120px;
}
.EntityModal__buttons-close button:hover {
  background: rgba(37, 127, 234, 0.2);
  color: #257fea;
  border: 2px solid #257fea;
}
.EntityModal__buttons-close button:active {
  background-color: #257fea;
  border: 2px solid #257fea;
  color: white;
}
