.Header {
  background-color: #3f72af;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 24px;
  color: white;
  font-family: Roboto;
  font-weight: 300;
}

.Header button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #dbe2ef;
}
.Header button:hover {
  color: white;
}

.Header__Logo {
  display: flex;
}
.Header__Logo-AppName {
  font-size: 36px;
  line-height: 40px;
  margin-right: 65px;
}

.Header__Logo-AppName {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}
.Header__Logo__Actions {
  display: flex;
  align-items: center;
}
.Header__Logo__Actions a {
  display: flex;
  align-items: center;
  color: #dbe2ef;
  font-size: 24px;
  font-weight: 400;
  text-decoration: underline;
  text-underline-position: under;
  padding: 0 10px;
}
.Header__Logo__Actions a:hover {
  color: white;
}

.Header__AddNewItem {
  font-size: 20px;
}
